.title {
    font-size: 1.5em;
    color: #000000;
    text-align: left;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}